body{
  padding:0;
  margin:0;
}
#container{
  padding:0;
  margin:0;
}
#mainImg{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  position:relative;
  object-fit:cover;
}
#welImg{
  padding:0;
  margin:0;
  position:relative;left:0;top:0;
}
#probState{
  padding: 20px;
  position:relative;
  font-size:40px;;
}
