#mainImg{
  height:100%;
  width:100%;
  margin: 0;
  padding:0;
  position:absolute;left:0;
  z-index:2;
}
#welImg{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:relative;left:0;
  z-index:1;
}
#probBar{
  height:5%;
  width:100%;
  margin:0;
  padding:0;
  position:absolute;left:0;
  background-color:green;
}
