#mainImg{
  height:100%;
  width:100%;
  margin: 0;
  padding:0;
  box-sizing:border-box;
  object-fit:cover;
}
#welImg{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:absolute; top:0; left:0;
}
#probBar{
  position:relative;left:0;
  height:5%;
  width:100%;
  background-color:green;
}
